.Registerheader {
    display: flex;
    align-items: center;
    background-color: #3f5d9a;
    justify-content: space-between;
    height: 83px;
}

.Register_header__logo {
    height: 78px;
    object-fit: contain;
}

.Register_header__submit {
    width: 80px;
    height: 40px;
    background-color: #587dc8;
    border: none;
    color : #fff;
    display: inline;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-right: 250px;
}
