.sidebar2 {
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    width: 30%;
    float: right;
    margin-left: auto;
    align-items: flex-start;
}

@media screen and (max-width: 1280px) {
    .sidebar2 {
      margin-left: 0;
    }
  }

.contacts {
    margin-top: 10px;
}
.hr {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-right: 16px;
    margin-top: 8px;
}

h1 {
    font-size: 17px;
    font-weight: 600;
    color: black;
    cursor: context-menu;
    margin-left: 16px;
}

.searchIcon2 {
    width: 16px;
    cursor: pointer;
    margin-left: 190px;
    height: 16px;
    background-position: 0 -1398px;
    vertical-align: -0.25em;
    -webkit-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
}

.more {
    width: 16px;
    float: right;
    height: 16px;
    cursor: pointer;
    margin-left: 30px;
    background-position: 0 -1364px;
    vertical-align: -0.25em;
    -webkit-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
}

.details {
    display: flex;
    flex-direction: row;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .sidebar2 {
        display: none;
    }
}

/* .sidebar2 {
    flex: 1;
    margin-left: 30px;
    margin-top: 30px;
}

.sidebar2__languages {
    background-color: white;
    border: 1px solif rgba(199, 199, 199, 0.63);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 80px;
}

.sidebar2__languages p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #4765a0;
}

.sidebar2__languages p:hover {
    cursor: pointer;
}

.sidebar2__selected {
    color: gray !important;
}

.sidebar2__policies {
    color: gray;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.copyright {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
} */
